#entry_01{
    top: 27.4%;
    left: 22.5%;
}
#entry_02{
    top: 27.4%;
    left: 35%;
}
#entry_03{
    top: 14.4%;
    left: 53.6%;
}
#entry_04{
    top: 4.8%;
    left: 6%;
}
#entry_05{
    top: 21.3%;
    left: 6.4%;
}
#entry_06{
    top: 36.9%;
    left: 6.4%;
}
#entry_07{
    top: 57.5%;
    left: 5.2%;
}
#entry_08{
    top: 72%;
    left: 6%;
}
#entry_09{
    top: 4.2%;
    left: 80%;
}